*{
    box-sizing: border-box;
    font-family: 'Roboto',sans-serif;
    margin: 0px;
    padding: 0px;
}

/*--------------------------------------------- HEADER---------------------------------------- */
.main-header{
    background-color: #EAC926;
    padding: 15px;
}

.top-header{
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    margin-bottom: 8px ;
}

.search-bar input{
    width: 80%;
    height: 30px;
    border-radius: 5px;
    border: none;
    margin-right: 3px;
}

.search-bar {
    align-items: center;
    
}

.logo{
    width: 50%;
}

.copy-navbar{
    text-align: center;
    font-weight: 400;
}

.search-bar{
    width: 50%;
    display: flex;
    justify-content: center;
    margin: auto;
}

.bottom-header{
    display: none;
}

.bottom-header ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.bottom-header a{
    text-decoration: none;
    color: black;
    display: inline-block;
    margin: 5px 0;
    font-size: 12px;
}

.burger-menu{
    display: block;
    width: 50px;
    color: #ffffff;
    background-color: #03264C;
    margin: auto;
    border-radius: 5px;
    text-align: center;
    padding: 15px;
}

/* ----------------------------------------MAIN ------------------------------------*/

.main-section{
    width: 90%;
    margin: auto;
    
}

.product{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-bottom: 10px;
}

.main-section article img{
    width: 90%;
    align-self: center;
}

.main-section h3{
    font-size: 24px;
}

.product-info{
    border: solid 1px #ebebeb;
    margin: 6px;
    display: -webkit-box;
    flex-wrap: wrap;
    align-items: baseline;
    position: relative;
}




.price,.discount{
    font-weight: 600;
    flex-wrap: nowrap;
    display: block;
}

.discount{
    color: #39b54a;
    width:70%;
}

.price{
    font-size: 18px;
    width: 30%;
}

.description{
    display: none;
    display: block;
    
}

.product-info i{
    position: absolute;
}

.description,
.discount{
    font-size: 16px;
}


/* ------------------------------------- FOOTER------------------------------------------- */

.main-footer{
    font-family: 'Roboto',sans-serif;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 0px;
}

.main-footer div{
    list-style: none;
    text-align: center;
    text-decoration: none;
}

.main-footer article{
    margin: 15px;
}

.main-footer p{
    font-size: 12px;
    margin-top: 0px;
}

.main-footer h4{
    font-size: 18px;
    margin-bottom: 0px;
    margin-top: 0px;
}

.main-footer i{
    font-size: 2em;
    color: #1259c3;
    margin-bottom: 10px;
}


/*--------------------------------------------------Login - Register ------------------------------------------------------------*/

.conteiner-form{
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    background-color: #ebebeb;
}

.conteiner-form form{
    margin: 15px 0px;
    line-height: 30px;
    
}

.profile-bar{
    padding: 0px;
}

.conteiner-form form div{
    padding:  5px 30px;
}

.interes-categories{
    font-weight: 400;
}

.interes-categories input{
    vertical-align: middle;
    width: 5%;
}

.interes-categories option{
    width: 90%;
    display: inline-block;
    vertical-align: middle;
}

.conteiner-form label{
    font-weight: 600;
    font-size: 20px;
}

.conteiner-form .form-bar{
    width: 100%;
    height: 30px;
    border: none; 
    border-radius: 5px;
    margin: 14px 0px;

}

.conteiner-form  .button{
    background-color: #1259c3;
    color: #ebebeb;
    text-align: center;
    border-radius: 5px;
    width: 80px;
    height:  30px;
    margin-right: 15px;
    border: none;
    transition: all .5s ;
}

.conteiner-form button:hover{
    background-color:  #0022AA;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}


.user-profile{
    display: flex;
    flex-direction: row;
}

.button-section{
    padding: 5px 30px;
}

.buttom-send-login{
background-color: #1259c3;
color: #ebebeb;
text-align: center;
border-radius: 5px;
width: 100%;
height: 30px;
margin-top: 15px;
border: none;
}



/*-----------------------------------------------------------mediaquerys-------------------------------------------------------*/

@media (min-width: 376px){

    /*--------------------------------------------- HEADER---------------------------------------- */

    .bottom-header,.description{
        display: contents;
    }

    .burger-menu{
        display: none;
    }

    .bottom-header{
        display: flex;
        justify-content: space-around;
    }

    .bottom-header ul{
        display: flex;
        
    }
    .bottom-header li{
        display: flex;
        justify-content: space-between;
        margin: 0px 8px;
    }

    .top-header{
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
        align-items: center;
    }

    .logo, .search-bar, .copy-navbar{
        width: 33%;
    }

    /* ----------------------------------------MAIN ------------------------------------*/

    .product{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        width: 43%;
        margin: 8px;
    }


    .product-group{
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
        flex-direction: row;
        justify-content: center;
    }


    .price,.description,.discount{
        font-size: 18px;
    }

    

    /* ------------------------------------- FOOTER------------------------------------------- */


}

@media (min-width: 769px){
    .product{
        width: 22%; 
    }

    .discount .price {
        width: 50%;
    }

    .price,.description,.discount{
        font-size: 14px;
    }

    .product-group{
        
        justify-content: center;
    }

    .conteiner-form{
        width: 60%;
        border-radius: 15px;
        margin: 30px auto;
    }

    

}
